<ion-content [fullscreen]="true">
  <video autoplay muted loop id="video-background" preload="auto">
    <source src="../assets/Videos/fondo7.mp4" type="video/mp4">
  </video>
  <div class="back-button-container">
    <ion-button fill="clear" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="button-container">
    <h1 class="title">RESUMEN</h1>
    <ion-button expand="block" (click)="goToProfesRegister()">
      <img src="../assets/icon/seleccion1.png" alt="Icono" class="button-icon">
      <span class="button-text">Especialidades</span>
    </ion-button>
    <ion-button expand="block" (click)="goToReporteEstudiante()">
      <img src="../assets/icon/seleccion3.png" alt="Icono" class="button-icon">
      <span class="button-text">Incidencias</span>
    </ion-button>
    <ion-button expand="block" (click)="goToDiagnosticoEstudiante()">
      <img src="../assets/icon/seleccion4.png" alt="Icono" class="button-icon">
      <span class="button-text">Diagnostico de estudiantes</span>
    </ion-button>
    <ion-button expand="block" (click)="goToCalificaProfes()">
      <img src="../assets/icon/seleccion2.png" alt="Icono" class="button-icon">
      <span class="button-text">Calificacion profesionales</span>
    </ion-button>
  </div>
</ion-content>
