<ion-content [fullscreen]="true">
  <video autoplay muted loop id="video-background" preload="auto">
    <source src="../assets/Videos/fondo6.mp4" type="video/mp4">
  </video>
  <div class="overlay">
    <div class="form-container">
      <form [formGroup]="formLoginAdministrador">
        <br>      
        <ion-item>
          <ion-input 
            formControlName="usuario"
            label="Usuario"
            labelPlacement="floating"
            placeholder="Ingrese su usuario">
          </ion-input>
        </ion-item>
        <br>     
        <ion-item>
          <ion-input 
            formControlName="password"
            label="Contraseña"
            type="password"
            labelPlacement="floating"
            placeholder="Ingrese su contraseña">
          </ion-input>
        </ion-item>
        <br>        
        <ion-button (click)="goToOptions()">Ingresar</ion-button>
      </form>
    </div>
  </div>
</ion-content>
