<ion-content [fullscreen]="true">
  <video autoplay muted loop id="video-background" preload="auto">
    <source src="../assets/Videos/fondo8.mp4" type="video/mp4">
    Tu navegador no soporta la etiqueta de video.
  </video>

  <ion-header>
    <ion-toolbar class="custom-toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="bold-title">Reporte Estudiante</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 class="title">GRAFICO</h1>
  <div id="myPieChartContainer" class="chart-container">
    <canvas id="myPieChart" width="400" height="400"></canvas>
  </div>
  <ion-button class="imprimir-button" expand="full" (click)="imprimir()">IMPRIMIR</ion-button>
</ion-content>
