<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro Profesionales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro Profesionales</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Aquí puedes colocar el gráfico de barras generado por Chart.js -->
 
  <div id="myBarChartContainer">
    <canvas id="myBarChart"></canvas>
</div>

  <!-- Otros elementos que desees agregar, como botones, filtros, etc. -->
</ion-content>
