<ion-content [fullscreen]="true">
  <video autoplay muted loop id="video-background" preload="auto">
    <source src="../assets/Videos/fondo8.mp4" type="video/mp4">
  </video>
  <ion-header>
    <ion-toolbar class="custom-toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="bold-title">Diagnóstico de Estudiantes</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Texto "FILTROS" con espacio encima y tamaño grande -->
  <ion-label class="filter-title" style="text-align: center; display: block; width: 100%; margin-top: 20px; font-size: 24px;">FILTROS</ion-label>

  <ion-list lines="none" class="filter-container">
    <ion-item>
      <ion-label class="filter-title" position="stacked">Estado Usuario</ion-label>
      <ion-input placeholder="Ingrese el usuario" [(ngModel)]="usuarioFiltro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="filter-title" position="stacked" style="pointer-events: none;">Categoría</ion-label>
      <ion-select placeholder="Seleccione la categoría" [(ngModel)]="diagnosticoFiltro" interface="popover" style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">
        <ion-select-option value="">Ninguno</ion-select-option>
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.Nombre_Cat">{{ categoria.Nombre_Cat }}</ion-select-option>
      </ion-select>
    </ion-item>
    
  </ion-list>
  
  <!-- Texto "TABLA" centrado encima de la tabla y tamaño grande -->
  <ion-label class="filter-title" style="text-align: center; display: block; width: 100%; font-size: 24px;">TABLA</ion-label>

  <!-- Tabla de diagnósticos -->
  <ion-grid id="pdfTable" class="custom-table">
    <ion-row class="header-row">
      <ion-col>ID E.</ion-col>
      <ion-col>E.U.</ion-col>
      <ion-col>Categoria</ion-col>
      <ion-col>Diagnóstico</ion-col>
    </ion-row>
  
    <!-- Datos combinados -->
    <ion-row *ngFor="let diagnostico of combinarDatos()" class="data-row">
      <ion-col>{{ diagnostico.idUcv_estu }}</ion-col>
      <ion-col>{{ diagnostico.Est_Usuario }}</ion-col>
      <ion-col>{{ diagnostico.Id_Categoria }}</ion-col>
      <ion-col>{{ diagnostico.Diagnostico }}</ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-button class="imprimir-button" expand="full" (click)="imprimir()">IMPRIMIR</ion-button>
</ion-content>
