#myBarChartContainer {
    position: relative; /* Importante para posicionar correctamente la leyenda */
    width: 100%; /* Ancho completo del contenedor */
    height: 900px; /* Altura del gráfico */
  }
  